In [1]:
import pandas as pd

# cvs 파일

In [11]:
file_path = 'e:/data_파이썬머신러닝판다스데이터분석/part2/read_csv_sample.csv'

df1 = pd.read_csv(file_path)
print(df1, '\n')

df2 = pd.read_csv(file_path, header=None)
print(df2, '\n')

df3 = pd.read_csv(file_path, index_col=None)
print(df3, '\n')

df4 = pd.read_csv(file_path, index_col='c0')
print(df4, '\n')

df5 = pd.read_csv(file_path, # 읽어올 파일 경로
                 sep=',', # 데이터 구분 문자
                 header=0, # 컬럼명으로 사용할 컬럼 인덱스 번호
                 index_col=None, # 인덱스로 사용할 컬럼
                 names=['a','b','c','d'], # 컬럼명으로 지정할 문자열 리스트
                 skiprows=0, # 불러올때, 처음부터 몇줄을 무시할 것인지
                 parse_dates=False, # 날짜형식데이터를 datetime 형식으로 바꿀것인지
                 skipfooter=1, # 마지막에서 몇줄을 무시할 것인지
                 encoding='utf-8') # 인코딩 형식 지정
print(df5, '\n')

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

   a  b  c  d
0  0  1  4  7
1  1  2  5  8

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

# excel 파일

In [14]:
file_path = 'e:/data_파이썬머신러닝판다스데이터분석/part2/남북한발전전력량.xlsx'

df1 = pd.read_excel(file_path)
print(df1, '\n')

df2 = pd.read_excel(file_path,
                    engine='openpyxl', # xls확장자의 경우 engine='xlrd' 입력
                   header=0,
                   index_col=None)
print(df2, '\n')

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]

# json 파일

In [17]:
file_path = 'e:/data_파이썬머신러닝판다스데이터분석/part2/read_json_sample.json'

df1 = pd.read_json(file_path)
print(df1, '\n')

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True