In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','sex','class','fare','survived']]

In [4]:
grouped = df.groupby(['class','sex'])

gdf = grouped.mean()
print(gdf, '\n')
print(type(gdf), '\n')

                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447

<class 'pandas.core.frame.DataFrame'>

In [5]:
gdf.loc['First']

              age        fare  survived
sex
female  34.611765  106.125798  0.968085
male    41.281386   67.226127  0.368852

In [6]:
gdf.loc['First','female']

age          34.611765
fare        106.125798
survived      0.968085
Name: (First, female), dtype: float64

In [7]:
gdf.xs('male', level='sex')

              age       fare  survived
class
First   41.281386  67.226127  0.368852
Second  30.740707  19.741782  0.157407
Third   26.507589  12.661633  0.135447

In [8]:
gdf.xs('male', level=1) # 레벨은 처음부터 0의 번호로 입력해도 동일한 결과를 얻을수 있음(여기서 0은 class, 1은 sex)

              age       fare  survived
class
First   41.281386  67.226127  0.368852
Second  30.740707  19.741782  0.157407
Third   26.507589  12.661633  0.135447