In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# 그룹 객체 만들기(분할)

In [4]:
# 데이터 불러오기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','sex','class','fare','survived']]

print(f'승객 수 : {len(df)}', '\n')
print(df.head(), '\n')

승객 수 : 891

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0

In [6]:
# 데이터 분할
grouped = df.groupby(['class']) # class 컬럼을 기준으로 분할
grouped

In [10]:
# 그룹 객체 출력
for key,group in grouped:
    print(f'{key}, 데이터 개수 : {len(group)}')
    print(f'{key}에 해당하는 데이터 head() 결과 : \n {group.head()}','\n')

First, 데이터 개수 : 216
First에 해당하는 데이터 head() 결과 :
      age     sex  class     fare  survived
1   38.0  female  First  71.2833         1
3   35.0  female  First  53.1000         1
6   54.0    male  First  51.8625         0
11  58.0  female  First  26.5500         1
23  28.0    male  First  35.5000         1

Second, 데이터 개수 : 184
Second에 해당하는 데이터 head() 결과 :
      age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1
20  35.0    male  Second  26.0000         0
21  34.0    male  Second  13.0000         1

Third, 데이터 개수 : 491
Third에 해당하는 데이터 head() 결과 :
     age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [26]:
# 그룹 객체에 연산 메소드 적용
average = grouped.mean() # grouped의 각 그룹의 컬럼별 평균값 계산(문자열 데이터 컬럼 제외)
print(average, '\n')

sum = grouped.sum() # grouped의 각 그룹의 컬럼별 합 계산(문자열 데이터 컬럼 제외)
print(sum, '\n')

              age       fare  survived
class
First   38.233441  84.154687  0.629630
Second  29.877630  20.662183  0.472826
Third   25.140620  13.675550  0.242363

            age        fare  survived
class
First   7111.42  18177.4125       136
Second  5168.83   3801.8417        87
Third   8924.92   6714.6951       119

In [27]:
# 그룹 객체에서 특정 그룹만 선택
group3 = grouped.get_group('Third') # Third 클래스만 선택
print(group3)

      age     sex  class     fare  survived
0    22.0    male  Third   7.2500         0
2    26.0  female  Third   7.9250         1
4    35.0    male  Third   8.0500         0
5     NaN    male  Third   8.4583         0
7     2.0    male  Third  21.0750         0
..    ...     ...    ...      ...       ...
882  22.0  female  Third  10.5167         0
884  25.0    male  Third   7.0500         0
885  39.0  female  Third  29.1250         0
888   NaN  female  Third  23.4500         0
890  32.0    male  Third   7.7500         0

[491 rows x 5 columns]

In [29]:
# 여러 컬럼을 기준으로 그룹화
grouped_2 = df.groupby(['class','sex'])

for key,group in grouped_2:
    print(f'{key}, 데이터 개수 : {len(group)}')
    print(f'{key}에 해당하는 데이터 head() 결과 : \n {group.head()}','\n')

('First', 'female'), 데이터 개수 : 94
('First', 'female')에 해당하는 데이터 head() 결과 :
      age     sex  class      fare  survived
1   38.0  female  First   71.2833         1
3   35.0  female  First   53.1000         1
11  58.0  female  First   26.5500         1
31   NaN  female  First  146.5208         1
52  49.0  female  First   76.7292         1

('First', 'male'), 데이터 개수 : 122
('First', 'male')에 해당하는 데이터 head() 결과 :
      age   sex  class      fare  survived
6   54.0  male  First   51.8625         0
23  28.0  male  First   35.5000         1
27  19.0  male  First  263.0000         0
30  40.0  male  First   27.7208         0
34  28.0  male  First   82.1708         0

('Second', 'female'), 데이터 개수 : 76
('Second', 'female')에 해당하는 데이터 head() 결과 :
      age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
41  27.0  female  Second  21.0000         0
43   3.0  female  Second  41.5792         1
53  29.0  female  Second  26.0000         1

('Second', 'male'), 데이터 개수 : 108
('Second', 'male')에 해당하는 데이터 head() 결과 :
      age   sex   class  fare  survived
17   NaN  male  Second  13.0         1
20  35.0  male  Second  26.0         0
21  34.0  male  Second  13.0         1
33  66.0  male  Second  10.5         0
70  32.0  male  Second  10.5         0

('Third', 'female'), 데이터 개수 : 144
('Third', 'female')에 해당하는 데이터 head() 결과 :
      age     sex  class     fare  survived
2   26.0  female  Third   7.9250         1
8   27.0  female  Third  11.1333         1
10   4.0  female  Third  16.7000         1
14  14.0  female  Third   7.8542         0
18  31.0  female  Third  18.0000         0

('Third', 'male'), 데이터 개수 : 347
('Third', 'male')에 해당하는 데이터 head() 결과 :
      age   sex  class     fare  survived
0   22.0  male  Third   7.2500         0
4   35.0  male  Third   8.0500         0
5    NaN  male  Third   8.4583         0
7    2.0  male  Third  21.0750         0
12  20.0  male  Third   8.0500         0

In [34]:
# 여러 열을 기준으로 생성한 그룹 객체 연산 적용
average_2 = grouped_2.mean() # grouped의 각 그룹의 컬럼별 평균값 계산(문자열 데이터 컬럼 제외)
print(average_2, '\n') 
print(average_2.index, '\n') # 멀티 인덱스 임을 확인할 수 있음

                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447

MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])

In [36]:
# 그룹 객체에서 특정 그룹만 선택
group3f = grouped_2.get_group(('Third','female')) # key= (Third, female)인 그룹만 선택, 전달되는 키는 튜플형태여야함
print(group3f)

      age     sex  class     fare  survived
2    26.0  female  Third   7.9250         1
8    27.0  female  Third  11.1333         1
10    4.0  female  Third  16.7000         1
14   14.0  female  Third   7.8542         0
18   31.0  female  Third  18.0000         0
..    ...     ...    ...      ...       ...
863   NaN  female  Third  69.5500         0
875  15.0  female  Third   7.2250         1
882  22.0  female  Third  10.5167         0
885  39.0  female  Third  29.1250         0
888   NaN  female  Third  23.4500         0

[144 rows x 5 columns]

# 그룹 연산 메소드(적용, 결합)

In [42]:
## 데이터 집계(aggreagation)

# 판다스 기본 내장함수 사용(mean,man,min,sum,count,size,var,std,describe,info,first,last 등)
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','sex','class','fare','survived']]

grouped = df.groupby(by=['class']) # 그룹 객체 생성

std_all = grouped.std() # 그룹의 모든 연산 가능한 컬럼에 대해 표준편차 계산
print(std_all, '\n')
print(type(std_all), '\n')

std_fare = grouped.fare.std() # 그룹의 fare 컬럼에 대해 표준편자 계산
print(std_fare, '\n')
print(type(std_fare), '\n')

count_all = grouped.count() # 그룹의 모든 연산 가능한 컬럼에 대해 표준편차 계산
print(count_all, '\n')
print(type(count_all), '\n')

              age       fare  survived
class
First   14.802856  78.380373  0.484026
Second  14.001077  13.417399  0.500623
Third   12.495398  11.778142  0.428949

<class 'pandas.core.frame.DataFrame'>

class
First     78.380373
Second    13.417399
Third     11.778142
Name: fare, dtype: float64

<class 'pandas.core.series.Series'>

        age  sex  fare  survived
class
First   186  216   216       216
Second  173  184   184       184
Third   355  491   491       491

<class 'pandas.core.frame.DataFrame'>

In [47]:
## agg() 메소드 사용
def min_max(x): # 입력한 데이터의 최대값과 최소값의 차이를 반환하는 함수 정의
    return x.max()-x.min()

agg_minmax = grouped.agg(min_max) # grouped의 각 그룹별 가능한 컬럼에 min_max함수를 적용
print(agg_minmax, '\n')

agg_all = grouped.agg(['min','max']) # 적용할 함수를 여러개 전달
print(agg_all, '\n')

agg_sep = grouped.agg({'fare':['min','max'],'age':'mean'}) # fare 컬럼은 min과 max 함수 적용, age 컬럼은 mean 함수 적용
print(agg_sep, '\n')

          age      fare  survived
class
First   79.08  512.3292         1
Second  69.33   73.5000         1
Third   73.58   69.5500         1

         age           sex       fare           survived
         min   max     min   max  min       max      min max
class
First   0.92  80.0  female  male  0.0  512.3292        0   1
Second  0.67  70.0  female  male  0.0   73.5000        0   1
Third   0.42  74.0  female  male  0.0   69.5500        0   1

       fare                  age
        min       max       mean
class
First   0.0  512.3292  38.233441
Second  0.0   73.5000  29.877630
Third   0.0   69.5500  25.140620

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:303: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the aggregating function.
  results[key] = self.aggregate(func)

In [49]:
# 그룹연산 데이터 변환
age_mean = grouped.age.mean() # age 컬럼의 평균을 각 그룹별로 반환
print(age_mean, '\n')

age_std = grouped.age.std() # age 컬럼의 표준편자를 각 그룹별로 반환
print(age_std, '\n')

for key,group in grouped.age: # group의 모든 age 컬럼에 대해 반복
    group_zscore = (group - age_mean.loc[key])/age_std.loc[key] # z-score=(값-평균)/표준편차 계산(단, 전체가아닌 그룹별로 따로 계산됨)
    print(f'* origin : {key} \n {group_zscore}', '\n')

class
First     38.233441
Second    29.877630
Third     25.140620
Name: age, dtype: float64

class
First     14.802856
Second    14.001077
Third     12.495398
Name: age, dtype: float64

* origin : First
 1     -0.015770
3     -0.218434
6      1.065103
11     1.335321
23    -0.691315
         ...
871    0.592221
872   -0.353543
879    1.200212
887   -1.299306
889   -0.826424
Name: age, Length: 216, dtype: float64

* origin : Second
 9     -1.134029
15     1.794317
17          NaN
20     0.365855
21     0.294432
         ...
866   -0.205529
874   -0.134106
880   -0.348375
883   -0.134106
886   -0.205529
Name: age, Length: 184, dtype: float64

* origin : Third
 0     -0.251342
2      0.068776
4      0.789041
5           NaN
7     -1.851931
         ...
882   -0.251342
884   -0.011254
885    1.109159
888         NaN
890    0.548953
Name: age, Length: 491, dtype: float64

In [50]:
# transform() 메소드 사용
# 그룹별로 구분하여 각 원소에 함수를 적용하지만, 반환 결과는 각 원소의 본래 인덱스와 컬럼명을 가지고 반환됨
# 다시 말해, 그룹 연산의 결과를 원본 데이터프레임과 같은 형태로 변형하여 정리하는 것

def z_score(x):
    return (x-x.mean())/x.std()

age_zscore = grouped.age.transform(z_score)
print(age_zscore.loc[[1,889,9,886,0,890]], '\n') # 반복문을 통해 진행한 그룹연산의 결과와 인덱스, 값이 동일함을 확인
print(len(age_zscore), '\n')
print(age_zscore.loc[0:9], '\n')
print(type(age_zscore), '\n')

1     -0.015770
889   -0.826424
9     -1.134029
886   -0.205529
0     -0.251342
890    0.548953
Name: age, dtype: float64

891

0   -0.251342
1   -0.015770
2    0.068776
3   -0.218434
4    0.789041
5         NaN
6    1.065103
7   -1.851931
8    0.148805
9   -1.134029
Name: age, dtype: float64

<class 'pandas.core.series.Series'>

In [52]:
# 그룹 객체 필터링

grouped_filter = grouped.filter(lambda x: len(x) >= 200) # 데이터의 개수가 200개 이상인 그룹만 추출
print(grouped_filter, '\n')
print(type(grouped_filter), '\n')

age_filter = grouped.filter(lambda x: x.age.mean() < 30) # age 컬럼 값들의 평균이 30 미만인 그룹만 추출
print(age_filter, '\n')
print(type(age_filter), '\n')

      age     sex  class     fare  survived
0    22.0    male  Third   7.2500         0
1    38.0  female  First  71.2833         1
2    26.0  female  Third   7.9250         1
3    35.0  female  First  53.1000         1
4    35.0    male  Third   8.0500         0
..    ...     ...    ...      ...       ...
885  39.0  female  Third  29.1250         0
887  19.0  female  First  30.0000         1
888   NaN  female  Third  23.4500         0
889  26.0    male  First  30.0000         1
890  32.0    male  Third   7.7500         0

[707 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>

      age     sex   class     fare  survived
0    22.0    male   Third   7.2500         0
2    26.0  female   Third   7.9250         1
4    35.0    male   Third   8.0500         0
5     NaN    male   Third   8.4583         0
7     2.0    male   Third  21.0750         0
..    ...     ...     ...      ...       ...
884  25.0    male   Third   7.0500         0
885  39.0  female   Third  29.1250         0
886  27.0    male  Second  13.0000         0
888   NaN  female   Third  23.4500         0
890  32.0    male   Third   7.7500         0

[675 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>

In [59]:
# 그룹 객체에 함수 매핑
agg_grouped = grouped.apply(lambda x: x.describe()) # apply() 메소드는 원래 시리즈의 각 원소나 데이터프레임의 각 행또는 열에 함수를 매핑, 그룹객체에도 가능
print(agg_grouped, '\n')

def z_score(x):
    return (x-x.mean())/x.std()

age_zscore = grouped.age.apply(z_score) # 그룹별 z score 계산, axis=0이 디폴트
print(age_zscore,'\n')

                     age        fare    survived
class
First  count  186.000000  216.000000  216.000000
       mean    38.233441   84.154687    0.629630
       std     14.802856   78.380373    0.484026
       min      0.920000    0.000000    0.000000
       25%     27.000000   30.923950    0.000000
       50%     37.000000   60.287500    1.000000
       75%     49.000000   93.500000    1.000000
       max     80.000000  512.329200    1.000000
Second count  173.000000  184.000000  184.000000
       mean    29.877630   20.662183    0.472826
       std     14.001077   13.417399    0.500623
       min      0.670000    0.000000    0.000000
       25%     23.000000   13.000000    0.000000
       50%     29.000000   14.250000    0.000000
       75%     36.000000   26.000000    1.000000
       max     70.000000   73.500000    1.000000
Third  count  355.000000  491.000000  491.000000
       mean    25.140620   13.675550    0.242363
       std     12.495398   11.778142    0.428949
       min      0.420000    0.000000    0.000000
       25%     18.000000    7.750000    0.000000
       50%     24.000000    8.050000    0.000000
       75%     32.000000   15.500000    0.000000
       max     74.000000   69.550000    1.000000

0     -0.251342
1     -0.015770
2      0.068776
3     -0.218434
4      0.789041
         ...
886   -0.205529
887   -1.299306
888         NaN
889   -0.826424
890    0.548953
Name: age, Length: 891, dtype: float64

In [61]:
age_filter = grouped.apply(lambda x: x.age.mean() < 30) # 각 그룹에서 age컬럼의 평균이 30미만인 그룹만 True 반환/나머지 False반환 
print(age_filter,'\n')

for x in age_filter.index:
    if age_filter[x]==True: # 위에서 True값을 가지는 행에 대해서
        age_filter_df = grouped.get_group(x) # grouped 객체에서 해당 행 인덱스와 동일한 key의 그룹만 추출
        print(age_filter_df.head(),'\n')

class
First     False
Second     True
Third      True
dtype: bool

     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1
20  35.0    male  Second  26.0000         0
21  34.0    male  Second  13.0000         1

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0