# 데이터 확인

In [ ]:
# 구글 코랩에서 실행하기 위해 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 필요 라이브러리 호출
import os
from os.path import join
import copy
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

import sklearn

import matplotlib.pyplot as plt

ROOT_PATH = '/content/drive/MyDrive/LS_Practice' # 데이터가 있는 디렉토리의 상위 디렉토리를 미리 지정

In [ ]:
example_file = join(ROOT_PATH, 'data', 'Hospital', 'train.csv') # 해당 데이터가 존재하는 경로 생성

#### 데이터 정보

    train.csv - 의료기관이 폐업했는지 여부를 포함하여 최근 2개년의 재무정보와 병원 기본정보 
    test.csv - 폐업 여부를 제외하고 train.csv와 동일 
    sample_submission.csv - inst_id와 open과 close를 예측하는 OC 두개의 열로 구성. OC의 값은 open 예측일 경우 1, close 예측일 경우 0.



    inst_id - 각 파일에서의 병원 고유 번호
    OC – 영업/폐업 분류, 2018년 폐업은 2017년 폐업으로 간주함
    sido – 병원의 광역 지역 정보
    sgg – 병원의 시군구 자료
    openDate – 병원 설립일
    bedCount - 병원이 갖추고 있는 병상의 수
    instkind – 병원, 의원, 요양병원, 한의원, 종합병원 등 병원의 종류
    ·        종합병원 : 입원환자 100명 이상 수용 가능
    ·        병원 : 입원 환자 30명 이상 100명 미만 수용 가능
    ·        의원 : 입원 환자 30명 이하 수용 가능
    ·        한방 병원(한의원) : 침술과 한약으로 치료하는 의료 기관.  
    revenue1 – 매출액, 2017(회계년도)년 데이터를 의미함
    salescost1 – 매출원가, 2017(회계년도)년 데이터를 의미함
    sga1 - 판매비와 관리비, 2017(회계년도)년 데이터를 의미함
    salary1 – 급여, 2017(회계년도)년 데이터를 의미함
    noi1 – 영업외수익, 2017(회계년도)년 데이터를 의미함
    noe1 – 영업외비용, 2017(회계년도)년 데이터를 의미함
    Interest1 – 이자비용, 2017(회계년도)년 데이터를 의미함
    ctax1 – 법인세비용, 2017(회계년도)년 데이터를 의미함
    Profit1 – 당기순이익, 2017(회계년도)년 데이터를 의미함
    liquidAsset1 – 유동자산, 2017(회계년도)년 데이터를 의미함
    quickAsset1 – 당좌자산, 2017(회계년도)년 데이터를 의미함
    receivableS1 - 미수금(단기), 2017(회계년도)년 데이터를 의미함
    inventoryAsset1 – 재고자산, 2017(회계년도)년 데이터를 의미함
    nonCAsset1 – 비유동자산, 2017(회계년도)년 데이터를 의미함
    tanAsset1 – 유형자산, 2017(회계년도)년 데이터를 의미함
    OnonCAsset1 - 기타 비유동자산, 2017(회계년도)년 데이터를 의미함
    receivableL1 – 장기미수금, 2017(회계년도)년 데이터를 의미함
    debt1 – 부채총계, 2017(회계년도)년 데이터를 의미함
    liquidLiabilities1 – 유동부채, 2017(회계년도)년 데이터를 의미함
    shortLoan1 – 단기차입금, 2017(회계년도)년 데이터를 의미함
    NCLiabilities1 – 비유동부채, 2017(회계년도)년 데이터를 의미함
    longLoan1 – 장기차입금, 2017(회계년도)년 데이터를 의미함
    netAsset1 – 순자산총계, 2017(회계년도)년 데이터를 의미함
    surplus1 – 이익잉여금, 2017(회계년도)년 데이터를 의미함
    revenue2 – 매출액, 2016(회계년도)년 데이터를 의미함
    salescost2 – 매출원가, 2016(회계년도)년 데이터를 의미함
    sga2 - 판매비와 관리비, 2016(회계년도)년 데이터를 의미함
    salary2 – 급여, 2016(회계년도)년 데이터를 의미함
    noi2 – 영업외수익, 2016(회계년도)년 데이터를 의미함
    noe2 – 영업외비용, 2016(회계년도)년 데이터를 의미함
    interest2 – 이자비용, 2016(회계년도)년 데이터를 의미함
    ctax2 – 법인세비용, 2016(회계년도)년 데이터를 의미함
    profit2 – 당기순이익, 2016(회계년도)년 데이터를 의미함
    liquidAsset2 – 유동자산, 2016(회계년도)년 데이터를 의미함
    quickAsset2 – 당좌자산, 2016(회계년도)년 데이터를 의미함
    receivableS2 - 미수금(단기), 2016(회계년도)년 데이터를 의미함
    inventoryAsset2 – 재고자산, 2016(회계년도)년 데이터를 의미함
    nonCAsset2 – 비유동자산, 2016(회계년도)년 데이터를 의미함
    tanAsset2 – 유형자산, 2016(회계년도)년 데이터를 의미함
    OnonCAsset2 - 기타 비유동자산, 2016(회계년도)년 데이터를 의미함
    receivableL2 – 장기미수금, 2016(회계년도)년 데이터를 의미함
    Debt2 – 부채총계, 2016(회계년도)년 데이터를 의미함
    liquidLiabilities2 – 유동부채, 2016(회계년도)년 데이터를 의미함
    shortLoan2 – 단기차입금, 2016(회계년도)년 데이터를 의미함
    NCLiabilities2 – 비유동부채, 2016(회계년도)년 데이터를 의미함
    longLoan2 – 장기차입금, 2016(회계년도)년 데이터를 의미함
    netAsset2 – 순자산총계, 2016(회계년도)년 데이터를 의미함
    surplus2 – 이익잉여금, 2016(회계년도)년 데이터를 의미함
    employee1 – 고용한 총 직원의 수, 2017(회계년도)년 데이터를 의미함
    employee2 – 고용한 총 직원의 수, 2016(회계년도)년 데이터를 의미함
    ownerChange – 대표자의 변동

In [ ]:
data = pd.read_csv(example_file) # 파일 불러오기
label = data['OC'] # 데이터의 OC컬럼을 label로 지정

In [ ]:
data.head() # 데이터의 첫 5줄 확인

   inst_id    OC       sido  ...  employee1  employee2  ownerChange
0        1  open  choongnam  ...       62.0       64.0         same
1        3  open  gyeongnam  ...      801.0      813.0         same
2        4  open   gyeonggi  ...      234.0        1.0         same
3        7  open    incheon  ...      663.0      663.0         same
4        9  open  gyeongnam  ...      206.0      197.0         same

[5 rows x 58 columns]

In [ ]:
data.shape # 데이터의 형태 확인

(301, 58)

In [ ]:
del data['OC'] # 데이터에서 OC 컬럼 제거

In [ ]:
data.head() # 데이터 재확인

   inst_id       sido  sgg  ...  employee1  employee2 ownerChange
0        1  choongnam   73  ...       62.0       64.0        same
1        3  gyeongnam   32  ...      801.0      813.0        same
2        4   gyeonggi   89  ...      234.0        1.0        same
3        7    incheon  141  ...      663.0      663.0        same
4        9  gyeongnam   32  ...      206.0      197.0        same

[5 rows x 57 columns]

In [ ]:
data.describe() # 데이터의 기초 통계량 확인

          inst_id         sgg  ...    employee1    employee2
count  301.000000  301.000000  ...   291.000000   288.000000
mean   219.056478   81.039867  ...   142.546392   134.326389
std    121.234869   50.969714  ...   160.191073   151.061786
min      1.000000    1.000000  ...     0.000000     0.000000
25%    112.000000   37.000000  ...    53.500000    53.750000
50%    230.000000   75.000000  ...    80.000000    79.000000
75%    321.000000  123.000000  ...   181.500000   170.000000
max    428.000000  178.000000  ...  1200.000000  1200.000000

[8 rows x 54 columns]

In [ ]:
data.info() # 데이터의 요약 정보 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 57 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   inst_id             301 non-null    int64
 1   sido                301 non-null    object
 2   sgg                 301 non-null    int64
 3   openDate            301 non-null    int64
 4   bedCount            296 non-null    float64
 5   instkind            300 non-null    object
 6   revenue1            293 non-null    float64
 7   salescost1          293 non-null    float64
 8   sga1                293 non-null    float64
 9   salary1             293 non-null    float64
 10  noi1                293 non-null    float64
 11  noe1                293 non-null    float64
 12  interest1           293 non-null    float64
 13  ctax1               293 non-null    float64
 14  profit1             293 non-null    float64
 15  liquidAsset1        293 non-null    float64
 16  quickAsset1         293 non-null    float64
 17  receivableS1        293 non-null    float64
 18  inventoryAsset1     293 non-null    float64
 19  nonCAsset1          293 non-null    float64
 20  tanAsset1           293 non-null    float64
 21  OnonCAsset1         293 non-null    float64
 22  receivableL1        293 non-null    float64
 23  debt1               293 non-null    float64
 24  liquidLiabilities1  293 non-null    float64
 25  shortLoan1          293 non-null    float64
 26  NCLiabilities1      293 non-null    float64
 27  longLoan1           293 non-null    float64
 28  netAsset1           293 non-null    float64
 29  surplus1            293 non-null    float64
 30  revenue2            293 non-null    float64
 31  salescost2          293 non-null    float64
 32  sga2                293 non-null    float64
 33  salary2             293 non-null    float64
 34  noi2                293 non-null    float64
 35  noe2                293 non-null    float64
 36  interest2           293 non-null    float64
 37  ctax2               293 non-null    float64
 38  profit2             293 non-null    float64
 39  liquidAsset2        293 non-null    float64
 40  quickAsset2         293 non-null    float64
 41  receivableS2        293 non-null    float64
 42  inventoryAsset2     293 non-null    float64
 43  nonCAsset2          293 non-null    float64
 44  tanAsset2           293 non-null    float64
 45  OnonCAsset2         293 non-null    float64
 46  receivableL2        293 non-null    float64
 47  debt2               293 non-null    float64
 48  liquidLiabilities2  293 non-null    float64
 49  shortLoan2          293 non-null    float64
 50  NCLiabilities2      293 non-null    float64
 51  longLoan2           293 non-null    float64
 52  netAsset2           293 non-null    float64
 53  surplus2            293 non-null    float64
 54  employee1           291 non-null    float64
 55  employee2           288 non-null    float64
 56  ownerChange         289 non-null    object
dtypes: float64(51), int64(3), object(3)
memory usage: 134.2+ KB

In [ ]:
# DF.info에서 Object type을 가진 컬럼은 모두 범주형 변수
cat_columns = ['sido', 'instkind', 'ownerChange']
num_columns = [c for c in data.columns if c not in cat_columns]
print('Categorical Columns: \n{}\n\n Numeric Columns: \n{}\n'.format(cat_columns, num_columns))

Categorical Columns:
['sido', 'instkind', 'ownerChange']

 Numeric Columns:
['inst_id', 'sgg', 'openDate', 'bedCount', 'revenue1', 'salescost1', 'sga1', 'salary1', 'noi1', 'noe1', 'interest1', 'ctax1', 'profit1', 'liquidAsset1', 'quickAsset1', 'receivableS1', 'inventoryAsset1', 'nonCAsset1', 'tanAsset1', 'OnonCAsset1', 'receivableL1', 'debt1', 'liquidLiabilities1', 'shortLoan1', 'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1', 'revenue2', 'salescost2', 'sga2', 'salary2', 'noi2', 'noe2', 'interest2', 'ctax2', 'profit2', 'liquidAsset2', 'quickAsset2', 'receivableS2', 'inventoryAsset2', 'nonCAsset2', 'tanAsset2', 'OnonCAsset2', 'receivableL2', 'debt2', 'liquidLiabilities2', 'shortLoan2', 'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2', 'employee1', 'employee2']

# Scaling

In [ ]:
# 수치형 데이터의 값만 따로 저장
numeric_data = data[num_columns].values

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() # minmaxscaling을 위한 객체 생성

In [ ]:
scaler.fit(numeric_data) # 스케일링 진행

MinMaxScaler()

In [ ]:
scaled_data = scaler.transform(numeric_data) # 스케일링된 데이터를 다시 원래 형태로 변환
scaled_data = pd.DataFrame(scaled_data, columns=num_columns) # 데이터프레임으로 저장

In [ ]:
data[num_columns].head()

   inst_id  sgg  openDate  ...      surplus2  employee1  employee2
0        1   73  20071228  ...  1.271224e+09       62.0       64.0
1        3   32  19970401  ...           NaN      801.0      813.0
2        4   89  20161228  ...  0.000000e+00      234.0        1.0
3        7  141  20000814  ...  7.740829e+09      663.0      663.0
4        9   32  20050901  ...  9.025550e+09      206.0      197.0

[5 rows x 54 columns]

In [ ]:
data[num_columns].describe()

          inst_id         sgg  ...    employee1    employee2
count  301.000000  301.000000  ...   291.000000   288.000000
mean   219.056478   81.039867  ...   142.546392   134.326389
std    121.234869   50.969714  ...   160.191073   151.061786
min      1.000000    1.000000  ...     0.000000     0.000000
25%    112.000000   37.000000  ...    53.500000    53.750000
50%    230.000000   75.000000  ...    80.000000    79.000000
75%    321.000000  123.000000  ...   181.500000   170.000000
max    428.000000  178.000000  ...  1200.000000  1200.000000

[8 rows x 54 columns]

In [ ]:
scaled_data.head()

    inst_id       sgg  openDate  ...  surplus2  employee1  employee2
0  0.000000  0.406780  0.745497  ...  0.056834   0.051667   0.053333
1  0.004684  0.175141  0.487286  ...       NaN   0.667500   0.677500
2  0.007026  0.497175  0.975981  ...  0.039006   0.195000   0.000833
3  0.014052  0.790960  0.565172  ...  0.147560   0.552500   0.552500
4  0.018735  0.175141  0.693441  ...  0.165576   0.171667   0.164167

[5 rows x 54 columns]

In [ ]:
scaled_data.describe()

          inst_id         sgg    openDate  ...    surplus2   employee1   employee2
count  301.000000  301.000000  301.000000  ...  293.000000  291.000000  288.000000
mean     0.510671    0.452203    0.691456  ...    0.052730    0.118789    0.111939
std      0.283922    0.287964    0.227764  ...    0.065753    0.133493    0.125885
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.259953    0.203390    0.591301  ...    0.039006    0.044583    0.044792
50%      0.536300    0.418079    0.745236  ...    0.039006    0.066667    0.065833
75%      0.749415    0.689266    0.847404  ...    0.040429    0.151250    0.141667
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 54 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() # standardscaling을 위한 객체 생성

In [ ]:
scaler.fit(numeric_data) # 스케일링 진행

StandardScaler()

In [ ]:
scaled_data = scaler.transform(numeric_data) # 원래 형태로 변환
scaled_data = pd.DataFrame(scaled_data, columns=num_columns) # 데이터프레임으로 저장

In [ ]:
data[num_columns].head()

   inst_id  sgg  openDate  ...      surplus2  employee1  employee2
0        1   73  20071228  ...  1.271224e+09       62.0       64.0
1        3   32  19970401  ...           NaN      801.0      813.0
2        4   89  20161228  ...  0.000000e+00      234.0        1.0
3        7  141  20000814  ...  7.740829e+09      663.0      663.0
4        9   32  20050901  ...  9.025550e+09      206.0      197.0

[5 rows x 54 columns]

In [ ]:
data[num_columns].describe()

          inst_id         sgg  ...    employee1    employee2
count  301.000000  301.000000  ...   291.000000   288.000000
mean   219.056478   81.039867  ...   142.546392   134.326389
std    121.234869   50.969714  ...   160.191073   151.061786
min      1.000000    1.000000  ...     0.000000     0.000000
25%    112.000000   37.000000  ...    53.500000    53.750000
50%    230.000000   75.000000  ...    80.000000    79.000000
75%    321.000000  123.000000  ...   181.500000   170.000000
max    428.000000  178.000000  ...  1200.000000  1200.000000

[8 rows x 54 columns]

In [ ]:
scaled_data.head()

    inst_id       sgg  openDate  ...  surplus2  employee1  employee2
0 -1.801624 -0.158001  0.237663  ...  0.062510  -0.503681  -0.466358
1 -1.785099 -0.963740 -0.897900  ...       NaN   4.117507   4.500509
2 -1.776837  0.156434  1.251288  ... -0.209073   0.571887  -0.884131
3 -1.752050  1.178346 -0.555374  ...  1.444671   3.254552   3.505810
4 -1.735526 -0.963740  0.008731  ...  1.719138   0.396794   0.415609

[5 rows x 54 columns]

In [ ]:
scaled_data.describe()

            inst_id           sgg  ...     employee1     employee2
count  3.010000e+02  3.010000e+02  ...  2.910000e+02  2.880000e+02
mean   2.301592e-16 -8.218325e-17  ...  7.973767e-17 -1.098658e-16
std    1.001665e+00  1.001665e+00  ...  1.001723e+00  1.001741e+00
min   -1.801624e+00 -1.572957e+00  ... -8.913852e-01 -8.907627e-01
25%   -8.845208e-01 -8.654788e-01  ... -5.568337e-01 -5.343287e-01
50%    9.041743e-02 -1.186965e-01  ... -3.911213e-01 -3.668876e-01
75%    8.422765e-01  8.246075e-01  ...  2.435886e-01  2.365635e-01
max    1.726331e+00  1.905477e+00  ...  6.612573e+00  7.066834e+00

[8 rows x 54 columns]

기존 데이터에서는 변수별로 서로 다른 평균과 표준 편차 값을 가지고 있었습니다.<br>
Standard 스케일링된 데이터를 살펴보면, 평균이 0 표준편차가 1이 되었음을 확인할 수 있습니다.

# Imputation

### 평균으로 imputation

In [ ]:
data.head()

   inst_id       sido  sgg  ...  employee1  employee2 ownerChange
0        1  choongnam   73  ...       62.0       64.0        same
1        3  gyeongnam   32  ...      801.0      813.0        same
2        4   gyeonggi   89  ...      234.0        1.0        same
3        7    incheon  141  ...      663.0      663.0        same
4        9  gyeongnam   32  ...      206.0      197.0        same

[5 rows x 57 columns]

In [ ]:
pd.isna(data) # 데이터에 결측치 여부 확인

     inst_id   sido    sgg  ...  employee1  employee2  ownerChange
0      False  False  False  ...      False      False        False
1      False  False  False  ...      False      False        False
2      False  False  False  ...      False      False        False
3      False  False  False  ...      False      False        False
4      False  False  False  ...      False      False        False
..       ...    ...    ...  ...        ...        ...          ...
296    False  False  False  ...      False      False        False
297    False  False  False  ...      False      False        False
298    False  False  False  ...       True       True         True
299    False  False  False  ...      False       True         True
300    False  False  False  ...      False      False        False

[301 rows x 57 columns]

In [ ]:
pd.isna(data).sum() # 결측치 개수 확인

inst_id                0
sido                   0
sgg                    0
openDate               0
bedCount               5
instkind               1
revenue1               8
salescost1             8
sga1                   8
salary1                8
noi1                   8
noe1                   8
interest1              8
ctax1                  8
profit1                8
liquidAsset1           8
quickAsset1            8
receivableS1           8
inventoryAsset1        8
nonCAsset1             8
tanAsset1              8
OnonCAsset1            8
receivableL1           8
debt1                  8
liquidLiabilities1     8
shortLoan1             8
NCLiabilities1         8
longLoan1              8
netAsset1              8
surplus1               8
revenue2               8
salescost2             8
sga2                   8
salary2                8
noi2                   8
noe2                   8
interest2              8
ctax2                  8
profit2                8
liquidAsset2           8
quickAsset2            8
receivableS2           8
inventoryAsset2        8
nonCAsset2             8
tanAsset2              8
OnonCAsset2            8
receivableL2           8
debt2                  8
liquidLiabilities2     8
shortLoan2             8
NCLiabilities2         8
longLoan2              8
netAsset2              8
surplus2               8
employee1             10
employee2             13
ownerChange           12
dtype: int64

In [ ]:
pd.isna(data).sum().sum() # 총 결측치 개수 확인

425

In [ ]:
mean_df = data.copy() # 데이터 복사

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean') # 평균값으로 대치하기 위한 객체 생성
imputer.fit(mean_df[num_columns]) # 대체 수행
mean_df[num_columns] = imputer.transform(mean_df[num_columns]) # 원래 형태로 변환

In [ ]:
pd.isna(mean_df[num_columns]).sum() # 결측치 확인

inst_id               0
sgg                   0
openDate              0
bedCount              0
revenue1              0
salescost1            0
sga1                  0
salary1               0
noi1                  0
noe1                  0
interest1             0
ctax1                 0
profit1               0
liquidAsset1          0
quickAsset1           0
receivableS1          0
inventoryAsset1       0
nonCAsset1            0
tanAsset1             0
OnonCAsset1           0
receivableL1          0
debt1                 0
liquidLiabilities1    0
shortLoan1            0
NCLiabilities1        0
longLoan1             0
netAsset1             0
surplus1              0
revenue2              0
salescost2            0
sga2                  0
salary2               0
noi2                  0
noe2                  0
interest2             0
ctax2                 0
profit2               0
liquidAsset2          0
quickAsset2           0
receivableS2          0
inventoryAsset2       0
nonCAsset2            0
tanAsset2             0
OnonCAsset2           0
receivableL2          0
debt2                 0
liquidLiabilities2    0
shortLoan2            0
NCLiabilities2        0
longLoan2             0
netAsset2             0
surplus2              0
employee1             0
employee2             0
dtype: int64

### 중위수로 imputation

In [ ]:
median_df = data.copy()

In [ ]:
imputer = SimpleImputer(strategy='median') # 중위수로 대치하기 위한 객체 생성
imputer.fit(median_df[num_columns]) # 대체 수행
median_df[num_columns] = imputer.transform(median_df[num_columns]) # 변환
# median_df[num_columns].fit_transform(median_df[num_columns]) # 대체와 변환을 한 번에 수행

In [ ]:
pd.isna(median_df[num_columns]).sum()

inst_id               0
sgg                   0
openDate              0
bedCount              0
revenue1              0
salescost1            0
sga1                  0
salary1               0
noi1                  0
noe1                  0
interest1             0
ctax1                 0
profit1               0
liquidAsset1          0
quickAsset1           0
receivableS1          0
inventoryAsset1       0
nonCAsset1            0
tanAsset1             0
OnonCAsset1           0
receivableL1          0
debt1                 0
liquidLiabilities1    0
shortLoan1            0
NCLiabilities1        0
longLoan1             0
netAsset1             0
surplus1              0
revenue2              0
salescost2            0
sga2                  0
salary2               0
noi2                  0
noe2                  0
interest2             0
ctax2                 0
profit2               0
liquidAsset2          0
quickAsset2           0
receivableS2          0
inventoryAsset2       0
nonCAsset2            0
tanAsset2             0
OnonCAsset2           0
receivableL2          0
debt2                 0
liquidLiabilities2    0
shortLoan2            0
NCLiabilities2        0
longLoan2             0
netAsset2             0
surplus2              0
employee1             0
employee2             0
dtype: int64

### 3. Iterative Impute (R 언어의 MICE 패키지)
Round robin 방식으로 반복하여 결측값을 회귀하는 방식으로 결측치를 처리합니다. <br>
결측값을 회귀하는 방식으로 처리하기 때문에 수치형 변수에만 적용할 수 있습니다.

1. 각 결측치를 해당 변수의 평균으로 채워넣는다. 
2. 대체할 변수의 결측치는 제외한 상태로 해당 변수의 결측치를 회귀모델을 이용하여 예측한다.
3. 다른 변수에서도 해당 방식을 반복한다.
4. 모든 변수에 대해 반복 후 해당 이터레이션에서 맨 처음에 할당했던 값과의 차이를 계산한다.
5. 해당 값의 차이가 0이 될 때(수렴)까지 반복한다.

MICE 알고리즘으로 결측치를 처리하는 IterativeImputer는 Scikit-Learn에서 impute 패키지에 있습니다.

#### ref
- [Scikit-Learn, Iterative Imputer (MICE)](https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html?highlight=mice)
- [MICE 알고리즘 설명](https://ichi.pro/ko/deiteo-seteueseo-gyeol-cheuggabs-eul-daechihaneun-mice-algolijeum-217004654686142)

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
impute_df = data.copy()

In [ ]:
imp_mean = IterativeImputer(random_state=0)
impute_df[num_columns] = imp_mean.fit_transform(impute_df[num_columns])

In [ ]:
pd.isna(impute_df[num_columns]).sum()

inst_id               0
sgg                   0
openDate              0
bedCount              0
revenue1              0
salescost1            0
sga1                  0
salary1               0
noi1                  0
noe1                  0
interest1             0
ctax1                 0
profit1               0
liquidAsset1          0
quickAsset1           0
receivableS1          0
inventoryAsset1       0
nonCAsset1            0
tanAsset1             0
OnonCAsset1           0
receivableL1          0
debt1                 0
liquidLiabilities1    0
shortLoan1            0
NCLiabilities1        0
longLoan1             0
netAsset1             0
surplus1              0
revenue2              0
salescost2            0
sga2                  0
salary2               0
noi2                  0
noe2                  0
interest2             0
ctax2                 0
profit2               0
liquidAsset2          0
quickAsset2           0
receivableS2          0
inventoryAsset2       0
nonCAsset2            0
tanAsset2             0
OnonCAsset2           0
receivableL2          0
debt2                 0
liquidLiabilities2    0
shortLoan2            0
NCLiabilities2        0
longLoan2             0
netAsset2             0
surplus2              0
employee1             0
employee2             0
dtype: int64

### 4. 최빈값으로 imputation

In [ ]:
# data.describe(include='all') # 수치형 뿐만 아니라 모든 데이터에 대한 통계량을 확인

In [ ]:
mode_df = data.copy()

In [ ]:
imputer = SimpleImputer(strategy='most_frequent')
imputer.fit(mode_df[cat_columns])
mode_df[cat_columns] = imputer.transform(mode_df[cat_columns])

In [ ]:
pd.isna(mode_df[cat_columns]).sum()

sido           0
instkind       0
ownerChange    0
dtype: int64

# 라벨 인코딩

In [ ]:
data = pd.read_csv(example_file)
label = pd.DataFrame(data['OC'])

label.head()

     OC
0  open
1  open
2  open
3  open
4  open

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
le.fit(label)

LabelEncoder()

In [ ]:
# classes_ 속성에 있는 순서(index)대로 라벨 번호가 부여됨
le.classes_

array([' close', 'open'], dtype=object)

In [ ]:
label_encoded = le.transform(label) + 1

In [ ]:
le_df = pd.DataFrame(label_encoded, columns = ['label_encoded'])

result = pd.concat([label, le_df], axis=1)
result.sort_values('label_encoded', inplace=True)

result.head(20)

         OC  label_encoded
261   close              1
177   close              1
93    close              1
212   close              1
214   close              1
141   close              1
71    close              1
290   close              1
35    close              1
158   close              1
298   close              1
193   close              1
111   close              1
297   close              1
299   close              1
201    open              2
200    open              2
199    open              2
197    open              2
194    open              2

## 원핫 인코딩

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [ ]:
ohe.fit(label)

OneHotEncoder(sparse=False)

In [ ]:
one_hot_encoded = ohe.transform(label)

In [ ]:
ohe_df = pd.DataFrame(one_hot_encoded, columns = ohe.categories_[0])
result = pd.concat([label, ohe_df], axis=1)

result.head(10)

     OC   close  open
0  open     0.0   1.0
1  open     0.0   1.0
2  open     0.0   1.0
3  open     0.0   1.0
4  open     0.0   1.0
5  open     0.0   1.0
6  open     0.0   1.0
7  open     0.0   1.0
8  open     0.0   1.0
9  open     0.0   1.0