In [1]:
import pandas as pd
import numpy as np

# 단위 환산

In [8]:
df = pd.read_csv('e:/data_파이썬머신러닝판다스데이터분석/part5/auto-mpg.csv', header=None) # 데이터 불러오기
df.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','name'] # 컬럼명 지정
print(df.head(), '\n')

mpg_to_kpl = 1.60934/3.78541 # mile per gallon 단위를 kilometer per liter로 변환하는 식

df['kpl'] = df['mpg'] * mpg_to_kpl # 단위환산 후 해당 값으로 kpl열 생성
print(df.head(), '\n')

df['kpl'] = df['kpl'].round(2) # kpl열의 값들을 소수점 2째자리까지 반올림
print(df.head(), '\n')

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                       name       kpl
0       1  chevrolet chevelle malibu  7.652571
1       1          buick skylark 320  6.377143
2       1         plymouth satellite  7.652571
3       1              amc rebel sst  6.802286
4       1                ford torino  7.227428

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                       name   kpl
0       1  chevrolet chevelle malibu  7.65
1       1          buick skylark 320  6.38
2       1         plymouth satellite  7.65
3       1              amc rebel sst  6.80
4       1                ford torino  7.23

# 자료형 변환

In [21]:
df = pd.read_csv('e:/data_파이썬머신러닝판다스데이터분석/part5/auto-mpg.csv', header=None) # 데이터 불러오기
df.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','name'] # 컬럼명 지정
print(df.dtypes, '\n')

print(df['horsepower'].unique(), '\n') # horsepower 컬럼의 자료형이 object인 이유 확인(unique()를 통해 고유값 출력) -> ?가 존재
df['horsepower'].replace('?',np.nan,inplace=True) # ?문자를 NaN으로 치환
df.dropna(subset=['horsepower'], axis=0, inplace=True) # horsepower 컬럼에 NaN이 포함된 행 제거
df['horsepower'] = df['horsepower'].astype('float64') # 자료형을 실수형으로 변환
print(df['horsepower'].dtypes, '\n')

print(df['origin'].unique(), '\n')
df['origin'].replace({1:'USA',2:'EU',3:'JPN'},inplace=True) # 숫자로 나타난 데이터를 국가로 치환
print(df['origin'].unique(), '\n')
print(df['origin'].dtypes, '\n')
df['origin'] = df['origin'].astype('category') # 자료형을 범주형으로 변환
print(df['origin'].dtypes, '\n')
df['origin'] = df['origin'].astype('str') # 자료형을 문자로 변환
print(df['origin'].dtypes, '\n')

print(df['model year'].sample(3), '\n') # sample()은 랜덤하게 값을 선택
df['model year'] = df['model year'].astype('category') # 년도의 경우 숫자라도 상관없지만, 숫자의 상대적인 크기는 별 의미가 없으므로 범주형으로 변환
print(df['model year'].sample(3), '\n')

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' '?' '100.0' '105.0' '175.0' '153.0'
 '180.0' '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00'
 '80.00' '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0'
 '167.0' '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00'
 '83.00' '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00'
 '98.00' '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0'
 '68.00' '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0'
 '125.0' '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00'
 '64.00' '74.00' '116.0' '82.00']

float64

[1 3 2]

['USA' 'JPN' 'EU']

object

category

object

370    82
380    82
253    78
Name: model year, dtype: int64

308    79
1      70
211    76
Name: model year, dtype: category
Categories (13, int64): [70, 71, 72, 73, ..., 79, 80, 81, 82]