In [1]:
import pandas as pd
import numpy as np

# 다른 자료형을 시계열 객체로 변환

In [13]:
df = pd.read_csv('e:/data_파이썬머신러닝판다스데이터분석/part5/stock-data.csv')

print(df.head(), '\n')
print(df.info(), '\n')

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

In [14]:
df['new_Date'] = pd.to_datetime(df.Date) # 날짜형태의 문자열을 datetime 자료형으로 변환해 새로운 열 생성

print(df.head(), '\n')
print(df.info(), '\n')
print(type(df.new_Date[0]), '\n') # new_Date 컬럼의 value들은 Timestamp 객체임을 확인

df.set_index('new_Date', inplace=True) # new_Date 컬럼을 인덱스로 지정
df.drop('Date', axis=1, inplace=True) # Date 컬럼 삭제
print(df.head(), '\n')
print(df.info(), '\n') # 인덱스의 유형이 rangeindex에서 datetimeindex로 변경됨

         Date  Close  Start   High    Low  Volume   new_Date
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20 non-null     object
 1   Close     20 non-null     int64
 2   Start     20 non-null     int64
 3   High      20 non-null     int64
 4   Low       20 non-null     int64
 5   Volume    20 non-null     int64
 6   new_Date  20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.2+ KB
None

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

            Close  Start   High    Low  Volume
new_Date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2018-07-02 to 2018-06-01
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   20 non-null     int64
 1   Start   20 non-null     int64
 2   High    20 non-null     int64
 3   Low     20 non-null     int64
 4   Volume  20 non-null     int64
dtypes: int64(5)
memory usage: 960.0 bytes
None

In [16]:
# Timestamp를 Period로 변환
dates = ['2019-01-01','2020-03-01','2021-06-01','2022-09-01','2023-12-01']

ts_dates = pd.to_datetime(dates)
print(ts_dates, '\n')

pr_day = ts_dates.to_period(freq='D') # 일을 기준으로 period객체로 변환
print(pr_day, '\n')
pr_month = ts_dates.to_period(freq='M') # 월을 기준으로 period객체로 변환
print(pr_month, '\n')
pr_year = ts_dates.to_period(freq='A') # 년을 기준으로(1년이 끝나는 12월이 기준) period객체로 변환
print(pr_year, '\n')

DatetimeIndex(['2019-01-01', '2020-03-01', '2021-06-01', '2022-09-01',
               '2023-12-01'],
              dtype='datetime64[ns]', freq=None)

PeriodIndex(['2019-01-01', '2020-03-01', '2021-06-01', '2022-09-01',
             '2023-12-01'],
            dtype='period[D]')

PeriodIndex(['2019-01', '2020-03', '2021-06', '2022-09', '2023-12'], dtype='period[M]')

PeriodIndex(['2019', '2020', '2021', '2022', '2023'], dtype='period[A-DEC]')

# 시계열 데이터 만들기

In [20]:
# timestamp 배열
ts_ms = pd.date_range(start='2019-01-01', # 시작 날짜
                     end=None, # 마지막 날짜
                     periods=6, # 생성할 timestamp 수
                     freq='MS', # 시간 간격(MS=월 초)
                     tz='Asia/Seoul') # 시간대(timezone)
print(ts_ms, '\n')

ts_me = pd.date_range(start='2019-01-01', periods=6, freq='M', tz='Asia/Seoul') # 월 말을 기준으로 생성
print(ts_me, '\n')

ts_3m = pd.date_range(start='2019-01-01', periods=6, freq='3M', tz='Asia/Seoul') # 3개월 간격으로 월말을 기준으로 생성
print(ts_3m, '\n')

DatetimeIndex(['2019-01-01 00:00:00+09:00', '2019-02-01 00:00:00+09:00',
               '2019-03-01 00:00:00+09:00', '2019-04-01 00:00:00+09:00',
               '2019-05-01 00:00:00+09:00', '2019-06-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='MS')

DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-02-28 00:00:00+09:00',
               '2019-03-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-05-31 00:00:00+09:00', '2019-06-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='M')

DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-07-31 00:00:00+09:00', '2019-10-31 00:00:00+09:00',
               '2020-01-31 00:00:00+09:00', '2020-04-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='3M')

In [22]:
# period 배열
pr_m = pd.period_range(start='2019-01-01', # 시작 날짜
                     end=None, # 마지막 날짜
                     periods=3, # 생성할 period 수
                     freq='M') # 시간의 길이
                     
print(pr_m, '\n')

pr_h = pd.period_range(start='2019-01-01', periods=3, freq='H') # 시간을 기준으로 생성
print(pr_h, '\n')

pr_2h = pd.period_range(start='2019-01-01', periods=3, freq='2H') # 2시간을 기준으로 생성
print(pr_2h, '\n')

PeriodIndex(['2019-01', '2019-02', '2019-03'], dtype='period[M]')

PeriodIndex(['2019-01-01 00:00', '2019-01-01 01:00', '2019-01-01 02:00'], dtype='period[H]')

PeriodIndex(['2019-01-01 00:00', '2019-01-01 02:00', '2019-01-01 04:00'], dtype='period[2H]')

# 시계열 데이터 활용

In [28]:
# 날짜 데이터 분리
df = pd.read_csv('e:/data_파이썬머신러닝판다스데이터분석/part5/stock-data.csv')

df['new_Date'] = pd.to_datetime(df.Date) # 문자열을 datetime 자료형으로 변환
print(df.head(), '\n')

df['Year'] = df['new_Date'].dt.year # 년도만 추출
df['Month'] = df['new_Date'].dt.month # 월만 추출
df['Day'] = df['new_Date'].dt.day # 일만 추출
print(df.head(), '\n')

df['Date_yr'] = df['new_Date'].dt.to_period(freq='A') # 년도 추출
df['Date_m'] = df['new_Date'].dt.to_period(freq='M') # 년-월 추출
print(df.head(), '\n')

df.set_index('Date_m', inplace=True)
print(df.head(), '\n')

         Date  Close  Start   High    Low  Volume   new_Date
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26

         Date  Close  Start   High    Low  Volume   new_Date  Year  Month  Day
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018      7    2
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018      6   29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018      6   28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018      6   27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018      6   26

         Date  Close  Start   High    Low  Volume   new_Date  Year  Month  \
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018      7
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018      6
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018      6
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018      6
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018      6

   Day Date_yr   Date_m
0    2    2018  2018-07
1   29    2018  2018-06
2   28    2018  2018-06
3   27    2018  2018-06
4   26    2018  2018-06

               Date  Close  Start   High    Low  Volume   new_Date  Year  \
Date_m
2018-07  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018
2018-06  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018
2018-06  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018
2018-06  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018
2018-06  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018

         Month  Day Date_yr
Date_m
2018-07      7    2    2018
2018-06      6   29    2018
2018-06      6   28    2018
2018-06      6   27    2018
2018-06      6   26    2018

In [41]:
# 날짜 인덱스 활용
df = pd.read_csv('e:/data_파이썬머신러닝판다스데이터분석/part5/stock-data.csv')

df['new_Date'] = pd.to_datetime(df.Date) # 문자열을 datetime 자료형으로 변환
df.set_index('new_Date', inplace=True) # 인덱스 지정
print(df.head(), '\n')
print(df.index, '\n')

df_y = df.loc['2018'] # 2018년도 인덱스 추출
print(df_y.head(), '\n')

df_ym = df.loc['2018-06'] # 2019년도 6월 인덱스 추출
print(df_ym.head(), '\n')

df_ym_cols = df.loc['2018-06', 'Start':'Low'] # 2018년도 6월 인덱스, Start컬럼부터 Low컬럼까지 추출
print(df_ym_cols.head(), '\n')

df_ymd = df.loc['2018-07-02'] # 2018년 7월 2일 인덱스 추출
print(df_ymd.head(), '\n')

df_ymd_range = df.loc['2018-06-16':'2018-06-25'] # 2018년 6월 16일에서 25일까지 인덱스 추출
print(df_ymd_range.head(), '\n')

today = pd.to_datetime('2022-02-05')
df['time_delta'] = today - df.index # 날짜 사이 일자 구하기
df.set_index('time_delta', inplace=True) # 구한 일자를 인덱스로 지정
df_1320 = df['1320 days':'1330 days'] # 일자로 슬라이싱
print(df_1320, '\n')
print(type(df.index))

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039

DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='new_Date', freq=None)

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039

                  Date  Close  Start   High    Low  Volume
new_Date
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039
2018-06-25  2018-06-25  11150  11400  11450  11000   55519

            Start   High    Low
new_Date
2018-06-29  10550  10900   9990
2018-06-28  10900  10950  10150
2018-06-27  10800  11050  10500
2018-06-26  10900  11000  10700
2018-06-25  11400  11450  11000

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977

                  Date  Close  Start   High    Low  Volume
new_Date
2018-06-25  2018-06-25  11150  11400  11450  11000   55519
2018-06-22  2018-06-22  11300  11250  11450  10750  134805
2018-06-21  2018-06-21  11200  11350  11750  11200  133002
2018-06-20  2018-06-20  11550  11200  11600  10900  308596
2018-06-19  2018-06-19  11300  11850  11950  11300  180656

                  Date  Close  Start   High    Low  Volume
time_delta
1320 days   2018-06-26  10800  10900  11000  10700   63039
1321 days   2018-06-25  11150  11400  11450  11000   55519
1324 days   2018-06-22  11300  11250  11450  10750  134805
1325 days   2018-06-21  11200  11350  11750  11200  133002
1326 days   2018-06-20  11550  11200  11600  10900  308596
1327 days   2018-06-19  11300  11850  11950  11300  180656
1328 days   2018-06-18  12000  13400  13400  12000  309787

<class 'pandas.core.indexes.timedeltas.TimedeltaIndex'>